-- Migration SQL for DECIMAL(15,6) fix
-- Run these commands in your PostgreSQL database

-- 1. Update existing rows to clamp values to DECIMAL(15,6) limits
UPDATE master_metrics SET
  normal_min = GREATEST(-999999999.999999, LEAST(999999999.999999, COALESCE(normal_min, 0))),
  normal_max = GREATEST(-999999999.999999, LEAST(999999999.999999, COALESCE(normal_max, 0)));

-- 2. Alter column types to DECIMAL(15,6)
ALTER TABLE master_metrics ALTER COLUMN normal_min TYPE DECIMAL(15,6);
ALTER TABLE master_metrics ALTER COLUMN normal_max TYPE DECIMAL(15,6);

-- 3. Verify the changes worked (should return 0 rows)
SELECT COUNT(*) FROM master_metrics WHERE ABS(normal_min) > 999999999.999999 OR ABS(normal_max) > 999999999.999999;

-- 4. Show sample data to confirm
SELECT metric_id, normal_min, normal_max FROM master_metrics WHERE normal_min IS NOT NULL OR normal_max IS NOT NULL LIMIT 5;
